<%- include('header'); -%>
<h2>This is About page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatem, itaque quas aliquam iusto iure sunt reiciendis quibusdam molestias iste, voluptas vitae hic at in quae modi perferendis ipsum, consequuntur quo laboriosam accusantium odit.</p>
<%- include('footer'); -%>